@media screen and (max-width: 799px) {
    body {  
      display: flex; 
      flex-direction: column;
      overflow: scroll;
    }
    .main {
      margin: auto;
      overflow: scroll;
    }
    .wrapper_column, .wrapper, .wrapper_inner, .wrapper_bottom {
      display: none;
      visibility: hidden;
      order: 2;
    }
    .mobile_nav>ul {
      border: 5px solid #f7b321ce;
      min-width: 200px;
      max-width: 200px;
      border-radius: 20px;
      background-color: #40a8c4;
      margin: auto;
      text-align: center;
      font-family: Chewy;
      padding-top: 10px;
    }
    ul>li{
      font-size: 20px;
    }
    .content {
      justify-content: center;
      width: 100%;
      margin-right:0 !important;
    }
    .content_whatis {
      padding: 0 !important;
    }
    .content_whatis>p {
      text-align: center;
      }
    }
  
    @media screen and (max-width: 1100px) {
      .content {
          display: flex;
          flex-direction: column;
      }
  
      .content_whatis>p {
          font-size: 18px;
      }
  
      .content_whatis, .content_pic1 {
      min-width: 98%;
      }
      .content_pic1 {
          padding-bottom: 1rem;
      }
      .content_offers>.button {
          font-size: 24px;
      }
  }
  
  
    @media screen and (max-width: 650px) {
      .header_title {
          display: none;
      }
  
      .content_offers {
          margin-left: 0% !important;
          transform: translateX(0%) !important;
      }
      .content_offers>.button {
          font-size: 20px;
      }
      .content_wantmore {
          text-align: justify;
      }
    }
  
    @media screen and (min-width: 800px){
    .mobile_nav {
      display: none;
  }    
  }
  
    @font-face {
      font-family: "Chewy";
      src: url("/Chewy-Regular.ttf") format("truetype");
    }
  
    html {
      font-family: Arial, Helvetica, sans-serif;
      font-size: large;
    }
  
    body {
      background-color: #bcdbdf;
      color: #235784;
      margin: 0;
      display: flex;
    }
  
  .main {
      display: flex;
      flex-direction: column;
      width: 70%;
    }
  
  .header {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 0;
      margin-top: 1rem;
      padding: 12px;
      letter-spacing: 2px;
      color: #da9d1c;
      padding-bottom: 2rem;
    }
  
  .header_logo {
      vertical-align: middle;
    }
  
  .header_title {
    font-size: 68px;
    font-family: Chewy;
    margin-left: 20px;
    text-shadow: 3px 1px 15px white;
    font-variant: small-caps;
  }
  #cheddar-logo {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 2px solid rgba(226, 226, 102, 0.952);
  }
  
  .wrapper_column {
      position: sticky;
      top: 10%;
      height: 100%;
      min-width: 220px;
      margin: 6rem 3rem 2rem 4rem;
      border-radius: 20px;
      background-color: #40a8c4;
  }
    .wrapper {
      display: flex;
      flex-direction: column;
      border: 5px solid #f7b321ce;
      border-radius: 20px;
      text-align: center;
      font-family: Chewy;
    }
  
    .wrapper_bottom {
      bottom: 0;
      padding-bottom: 2rem;
    }
  ul {
      padding-left: 0;
      margin-top: 3rem;
  }
  
    li {
      list-style: none;
      padding-bottom: 1rem;
      font-size: 30px;
      text-shadow: 0px 0px 8px white;
    }
  
    li>a{color: #235784;}
  
    a {
      text-decoration: none;
      color: #cf8e00;
    }
  /* HOME PAGE */
  .home_content{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-right: 2rem;
  }
  
  .content_whatis {
      width: 45%;
      padding: 1rem 3rem 1rem 1rem;
      align-self: center;
      font-size: 22px;
    }
  
  .content_pic1 {
      float: right;
      width: 45%;
      align-self: center;
  }
  
  .content_offers {
      display: block;
      margin-left: 50%;
      transform:translateX(-50%);
      padding-top: 1rem;
      padding-bottom: 3rem;
  }
    .button {
      display: inline-block;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      color: #ffffff;
      background-color: #40a8c4;
      border: 5px solid #f7b321ce;
      border-radius: 6px;
      outline: none;
      transition: 0.3s;
      font-family: Chewy;
      color: #235784;
      text-shadow: 0px 0px 8px white;
      font-size: 35px;
      font-variant: small-caps;
    }
    .button:hover {
      background-color: #40a8c48e;
    }

    /* TICKETS */

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    }
    
.ticket_info {
width: 98%;
padding-top: 1rem;
position: static;
}
#pricing {
  border-collapse: collapse;
}

#pricing td, #pricing th {
  border: 3px solid;
  padding: 8px;
}

#pricing th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}
input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px; 
  box-sizing: border-box; /* keeps padding and width in place */
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
  
label {
    font-style: oblique;
}

  input[type=submit] {
    background-color: #40a8c4;
    border: 3px solid #f7b321ce;
    color: white;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-family: Chewy;
    color: #235784;
    text-shadow: 0px 0px 3px white;
    font-size: 20px;
    float: right;
  }
  

  input[type=submit]:hover {
    background-color: #40a8c48e;
  }
  

  .ticket_buy {
  border: 5px outset #ffffffce;
  border-radius: 5px;
  padding: 20px;
  margin: 2rem;
  width: 350px;
}

.ticket_img {
  text-align: center;
  font-style: italic;
  transition: 1s ease;
  font-size: 16px;
  margin: 2rem;
}
.ticket_img>img {
  max-width: 100%; 
  height: auto;
  border-radius: 5px;
}

.ticket_img:hover{
   -webkit-transform: scale(1.2);
   -ms-transform: scale(1.2);
   transform: scale(1.2);
   transition: 1s ease;
 }

 
.outfits img {
   width: 200px;
   height: auto;
   padding: 10px;
 }
 .outfits img:hover{
   -webkit-transform: scale(1.2);
   -ms-transform: scale(1.2);
   transform: scale(1.2);
   transition: 1s ease;
 }

 /* ACTIVITIES */

 .a_info {
    text-align: center;
    margin: 1rem;
}
.a_info span{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 32px;
}

.a_info span:nth-of-type(even){
    color:#d39000;
}
.a_info span:nth-of-type(odd){
    color:rgb(41, 92, 143);
}

span:not(:last-child)::after {
    content: '\01f9c0';
    font-size: 22px;
    padding: 12px;
    vertical-align: 40%;
}


.a_img {
  text-align: center;
  font-style: italic;
  transition: 1s ease;
  font-size: 16px;
  margin-left: 2rem;
  margin-right: 2rem;
}
.a_img>img {
  max-width: 100%; 
  width: 300px;
  height: auto;
  border-radius: 50px;
}

.a_img:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.3);
    transition: 1s ease;
  }

/* ABOUT */

.cheddar1 {
    max-height: 400px;    
}

.cheddar1 img {
    max-width: 100%; 
    width: 300px;
    height: auto;
    padding: 1rem;
    border-radius: 20%;
}



.cheddar2 img {
    max-width: 100%; 
    width: 300px;
    height: auto;
    padding: 1rem;
    border-radius: 20%;
}

.about {
    width: 300px;
    padding: 20px;
}

.album img {
    width: 300px;
    height: auto;
    padding: 10px;
}

/* CONTACT */

.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  }
  
  
.contact_form {
  border-radius: 5px;
  padding: 20px;
  width: 450px;
}
.contact_support {
  align-self: center;
  padding: 20px;
  text-align: center;
}
.contact_support>img {
  max-height: 400px;
  border-radius: 20px;
}